# Node
NODE_ENV=development

# Federated API URIs
THAT-API-EVENTS=http://localhost:8001/
THAT-API-PARTNERS=http://localhost:8002/
THAT-API-SESSIONS=http://localhost:8003/
THAT-API-MEMBERS=http://localhost:8004/

# Graph Config
ENABLE_GRAPH_PLAYGROUND=true
ENABLE_GRAPH_INTROSPECTION=true
ENABLE_GRAPH_GATEWAY_DEBUG_MODE=false